 .heatmap-container {
  width: 85%;
  overflow-x: auto;
  padding: 10px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
  position: relative;
  overflow: auto;
}
.heatmap-tabs {
  display: flex;
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #000;
  z-index: 10;
  margin-bottom :20px;
}

.overlay{
  opacity: 0.2;
}

.tab-button {
  background: none;
  border: 1px solid black;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
  border-bottom: none;
}


.tab-button.active {
  background-color: #259653;
  color: white;
}


.heatmap-table {
  border-collapse: separate;
  border-spacing: 2px;
  min-width: max-content;
  width: max-content;
  table-layout: fixed;
}

.skill-header,
.skill-cell {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: #fff;
  width: 250px;
  text-align: left;
  font-size: 12px;
}

.candidate-header {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  text-align: center;
  padding: 8px;
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

.heatmap-row {
  height: 40px;
}

.heat-cell {
  width: 60px;
  text-align: center;
  padding: 3px;
}

.heat-block {
  width: 34px;
  height: 24px;
  margin: 0 auto;
  border-radius: 2px;
}

.heat-block.empty {
  background-color: #ECFFF1;
}

.heat-block.low {
  background-color: #F8F8A7;
}

.heat-block.medium {
  background-color: #A6D969;
}

.heat-block.high {
  background-color: #269641;
}

.heat-block.very-high {
  background-color: #0B3F0B;
}

.no-candidate-cell {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.select-candidate-btn {
  background-color: #259653;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  cursor: not-allowed;
}

.skill-filter-container {
  padding: 1rem;
  width: 300px;
  border: none;
  box-shadow: none;
}

.skill-search {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 14px;
  background-color: #fff;
  color: #000
}

.skill-checkbox-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  max-height: 300px;
  overflow-y: auto;
}

.filter-button{
  color: #000;
  padding: 5px 7.5px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #f6f6ef;
  border: 1px solid #000;
  cursor: pointer;
}
.filter-button:disabled{
  opacity: 0.7;
  cursor: not-allowed;
}